package reqctx

import (
	"context"
	"fmt"

	"github.com/pkg/errors"
	{{ .Logger.Import }}
)

type ctxTelegramKey int

const (
	chatIDField ctxTelegramKey = iota
	msgIDField
	tgActorField
	callbackIDField
	processInfo ctxTelegramKey = iota
)

var (
	ErrUndefinedChatID     = errors.New("undefined chat ID")
	ErrUndefinedMsgID      = errors.New("undefined message ID")
	ErrUndefinedTgActor    = errors.New("undefined tg actor")
	ErrUndefinedCallbackID = errors.New("undefined callback ID")
)

// ToDo кажется, что то лишнее, надо обединить с requestData из telegram driver
func SetProcessInfo(ctx context.Context, info *RequestProcessInfo) context.Context {
	return context.WithValue(ctx, processInfo, info)
}

func GetProcessInfo(ctx context.Context) (*RequestProcessInfo, error) {
	pii := ctx.Value(processInfo)

	pi, ok := pii.(*RequestProcessInfo)
	if !ok {
		return nil, errors.New("invalid processInfo object")
	}

	return pi, nil
}
