package handler

import "{{ .ProjectPath }}/pkg/drivers/telegram"

type RespMessage struct {
	TmMsg      string
	InvoiceData *telegram.InvoiceData
	ButtonCMDs [][]ButtonCmd
}

type Response struct {
	Messages      []RespMessage
	NextState     *string
	NotifyMsg     string
	DeleteLastMsg bool
}
