version: "2"
run:
  concurrency: 4
  issues-exit-code: 10
  tests: true
linters:
  enable:
    - asasalint
    - asciicheck
    - bidichk
    - bodyclose
    - containedctx
    - contextcheck
    - decorder
    - dupl
    - dupword
    - durationcheck
    - err113
    - errchkjson
    - errname
    - errorlint
    - exhaustive
    - forcetypeassert
    - funlen
    - ginkgolinter
    - gocheckcompilerdirectives
    - goconst
    - gocritic
    - gocyclo
    - goprintffuncname
    - gosec
    - grouper
    - importas
    - interfacebloat
    - lll
    - loggercheck
    - makezero
    - misspell
    - mnd
    - musttag
    - nakedret
    - nestif
    - nilerr
    - nilnil
    - noctx
    - nolintlint
    - nosprintfhostport
    - prealloc
    - predeclared
    - promlinter
    - reassign
    - revive
    - rowserrcheck
    - sqlclosecheck
    - staticcheck
    - thelper
    - unconvert
    - usestdlibvars
    - whitespace
    - wsl
  settings:
    asasalint:
      use-builtin-exclusions: true
    decorder:
      dec-order:
        - type
        - const
        - var
        - func
      disable-dec-num-check: true
      disable-dec-order-check: false
      disable-init-func-first-check: false
    dupl:
      threshold: 150
    errcheck:
      disable-default-exclusions: false
      check-type-assertions: false
      check-blank: true
      exclude-functions:
        - encoding/json.Marshal
        - encoding/json.MarshalIndent
    errchkjson:
      check-error-free-encoding: true
      report-no-exported: false
    errorlint:
      errorf: true
      errorf-multi: true
      asserts: true
      comparison: true
    exhaustive:
      check:
        - switch
        - map
      default-signifies-exhaustive: true
    funlen:
      lines: -1
      statements: 40
    goconst:
      match-constant: true
      min-len: 3
      min-occurrences: 2
      numbers: true
      min: 3
      max: 3
      ignore-calls: false
    gocyclo:
      min-complexity: 20
    lll:
      line-length: 160
      tab-width: 8
    misspell:
      locale: US
    nestif:
      min-complexity: 10
    wsl:
      strict-append: true
      allow-assign-and-call: true
      allow-assign-and-anything: false
      allow-multiline-assign: true
      force-case-trailing-whitespace: 0
      allow-trailing-comment: false
      allow-separated-leading-comment: false
      allow-cuddle-declarations: false
      allow-cuddle-with-calls:
        - Lock
        - RLock
      allow-cuddle-with-rhs:
        - Unlock
        - RUnlock
      force-err-cuddling: false
      error-variable-names:
        - err
      force-short-decl-cuddling: false
  exclusions:
    generated: lax
    presets:
      - comments
      - common-false-positives
      - legacy
      - std-error-handling
    rules:
      - linters:
          - containedctx
          - contextcheck
          - dupl
          - dupword
          - err113
          - errname
          - exhaustive
          - forcetypeassert
          - funlen
          - gochecknoglobals
          - gochecknoinits
          - goconst
          - gocritic
          - gocyclo
          - gosec
          - lll
          - nilerr
          - noctx
          - promlinter
          - reassign
          - unparam
        path: _test\.go
      - linters:
          - goconst
        path: (.+)_test\.go
    paths:
      - third_party$
      - builtin$
      - examples$
issues:
  max-issues-per-linter: 0
  max-same-issues: 0
formatters:
  enable:
    - goimports
  settings:
    gci:
      sections:
        - standard
        - default
        - blank
        - dot
      custom-order: true
  exclusions:
    generated: lax
    paths:
      - third_party$
      - builtin$
      - examples$
      - _test\.go
