{{ $applicationName := .Application.Name }}
{{ $needRealIP := false }}
{{ $restTransport := .Application.GetRestTransport }}

services:
  traefik-{{ .Application.Name }}:
    image: traefik:latest
    restart: always
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.traefik.address=:8080"
{{- range $i, $t := $restTransport }} {{ $needRealIP = true}}{{ if ne $t.GeneratorType "ogen_client" }}
      - "--entrypoints.{{ $applicationName }}ep{{ $i }}.address=:{{ $t.Port }}"
      - "--entryPoints.{{ $applicationName }}ep{{ $i }}.forwardedHeaders.trustedIPs=${INTERNAL_SUBNET}"
{{- end }}{{- end }}
{{ if $needRealIP}}
      - "--experimental.plugins.traefik-get-real-ip.modulename=github.com/romracer/traefik-get-real-ip"
      - "--experimental.plugins.traefik-get-real-ip.version=v1.0.2-1"
{{ end }}
    ports:
      - "${INTERNAL_LAN}:${PORT_PREFIX_{{ .Application.Name | ToUpper | ReplaceDash }}_TRAEFIK}:8080"
{{- range $_, $t := $restTransport }}{{ if ne $t.GeneratorType "ogen_client" }}
      - "{{ if not $t.PublicService }}${INTERNAL_LAN}:{{ end }}${PORT_PREFIX_{{ $applicationName | ToUpper | ReplaceDash }}_{{ $t.Name | ToUpper }}}:{{ $t.Port }}"
{{- end }}{{- end }}
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    {{ if .Deploy.LogCollector.Enabled }}
      {{ if eq .Deploy.LogCollector.Type "loki" }}
    logging:
      driver: {{ .Deploy.LogCollector.Type }}
      options:{{- range $k, $v := .Deploy.LogCollector.Parameters }}
        {{ $k }}: {{ $v }}
      {{- end }}
      {{ else }}
      {{ .ErrorLogCollector .Deploy.LogCollector.Type }}
      {{ end }}
    {{ end }}

  onlineconf-updater-{{ .Application.Name }}:
    image: ghcr.io/nikolo/onlineconf-updater:5ee228a # ToDo: move to config
    volumes:
      - ./data-{{ .Application.Name }}${ENV_TYPE}:/usr/local/etc/onlineconf
    environment:
      ONLINECONF_ADMIN_HOST: ${OC_HOST}
      ONLINECONF_ADMIN_PORT: 443
      ONLINECONF_UPDATER_USER: ${OC_USER}
      ONLINECONF_UPDATER_PASSWORD: ${OC_PASSWORD}
    restart: always
    {{ if .Deploy.LogCollector.Enabled }}
      {{ if eq .Deploy.LogCollector.Type "loki" }}
    logging:
      driver: {{ .Deploy.LogCollector.Type }}
      options:{{- range $k, $v := .Deploy.LogCollector.Parameters }}
        {{ $k }}: {{ $v }}
      {{- end }}
      {{ else }}
      {{ .ErrorLogCollector .Deploy.LogCollector.Type }}
      {{ end }}
    {{ end }}

    healthcheck:
      test: ["CMD-SHELL", "test -f /usr/local/etc/onlineconf/TREE.cdb"]
      timeout: 10s
      interval: 1s
      retries: 60

  {{ .Application.Name }}:
    image: ${REGISTRY_SERVER}/{{ .ProjectName }}-{{ $applicationName }}:${APP_VERSION}
    volumes:
      - ./data-{{ .Application.Name }}${ENV_TYPE}:/etc/onlineconf
      {{- range $_, $vol := .Application.Deploy.Volumes }}
      - {{ $vol.Path }}:{{ $vol.Mount }}
      {{ end }}
    depends_on:
      onlineconf-updater-{{ .Application.Name }}:
        condition: service_healthy
      traefik-{{ .Application.Name }}:
        condition: service_started
    restart: always
    {{ if .Deploy.LogCollector.Enabled }}
      {{ if eq .Deploy.LogCollector.Type "loki" }}
    logging:
      driver: {{ .Deploy.LogCollector.Type }}
      options:{{- range $k, $v := .Deploy.LogCollector.Parameters }}
        {{ $k }}: {{ $v }}
      {{- end }}
      {{ else }}
      {{ .ErrorLogCollector .Deploy.LogCollector.Type }}
      {{ end }}
    {{ end }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.my-traefik-get-real-ip.plugin.traefik-get-real-ip.Proxy[0].proxyHeadername=*"
      - "traefik.http.middlewares.my-traefik-get-real-ip.plugin.traefik-get-real-ip.Proxy[0].realIP=X-Forwarded-For"
      {{- range $i, $t := $restTransport }}{{ if ne $t.GeneratorType "ogen_client" }}
      - "traefik.http.services.{{ $applicationName }}${ENV_TYPE}-{{ $t.Name }}.loadbalancer.server.port={{ $t.Port }}"
        {{- if $t.HealthCheckPath }}
      - "traefik.http.services.{{ $applicationName }}${ENV_TYPE}-{{ $t.Name }}.loadbalancer.healthcheck.path={{ $t.HealthCheckPath }}"
      - "traefik.http.services.{{ $applicationName }}${ENV_TYPE}-{{ $t.Name }}.loadbalancer.healthcheck.interval=2s"
        {{- end -}}
      {{- if $t.PublicService }}
      - "traefik.http.routers.{{ $applicationName }}${ENV_TYPE}-{{ $t.Name }}.middlewares=my-traefik-get-real-ip"
      {{- end }}
      - "traefik.http.routers.{{ $applicationName }}${ENV_TYPE}-{{ $t.Name }}.service={{ $applicationName }}${ENV_TYPE}-{{ $t.Name }}"
      - "traefik.http.routers.{{ $applicationName }}${ENV_TYPE}-{{ $t.Name }}.rule=Host(`{{ if $t.PublicService }}${DOMAIN}{{ else }}${INTERNAL_LAN}{{ end }}`)"
      - "traefik.http.routers.{{ $applicationName }}${ENV_TYPE}-{{ $t.Name }}.entrypoints={{ $applicationName }}ep{{ $i }}"
      {{- end }}{{- end }}