package handler

import (
	"context"
{{ if eq (.Logger.FilesToGenerate) "logrus" }}	"runtime"
	"strconv"
{{ end }}	"github.com/pkg/errors"
	"github.com/ogen-go/ogen/ogenerrors"
	{{ .Logger.Import }}

	"{{ .ProjectPath }}/internal/pkg/service"
	"{{ .ProjectPath }}/pkg/app/rest"

	oas "{{ .Transport.GetTargetGeneratePath .ProjectPath }}"
)

type ogenDefaultError struct {
	oas.UnimplementedHandler // automatically implement all methods
}

func (h *ogenDefaultError) NewError(ctx context.Context, err error) *oas.ErrorDefaultStatusCode {
	var securityErr *ogenerrors.SecurityError
	if errors.As(err, &securityErr) {
		return &oas.ErrorDefaultStatusCode{
			StatusCode: 401,
			Response: oas.ErrorDefault{
				Code:  401,
				Error: "Unauthorized",
			},
		}
	}

	{{ .Logger.ErrorMsgCaller "ctx" "err" "Unexpected error from handler" 2 }}

	return &oas.ErrorDefaultStatusCode{
		StatusCode: 500,
		Response: oas.ErrorDefault{
			Code:  500,
			Error: "Internal server error",
		},
	}
}

type Handler struct {
	rest.DefaultServiceHandler
	ogenDefaultError
	service.EmptyServiceToHandle
}

// Compile-time check for Handler.
var _ oas.Handler = (*Handler)(nil)

