{{- $rest := false }}
{{- $grpc := false }}
{{ $grpcH := .Applications.GetGrpcTransport }}
{{ if len $grpcH }}
{{- $grpc := true }}
{{ end }}
{{- $restH := .Applications.GetRestTransport }}
{{ if len $restH }}
{{- $rest := true }}
{{ end }}
{{- $pg := false }}
{{- $sqlc := false }}

version: '3.7'
services:
  {{- if eq $pg true }}
  postgres:
    image: postgres:15.3-bullseye
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: app_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
  {{- end }}

  jaeger:
    image: jaegertracing/all-in-one:1.46
    container_name: jaeger
    ports:
      - "14250:14250"
      - "14268:14268"
      - "14269:14269"
      - "16686:16686"
      - "4317:4317"
      - "4318:4318"
      - "5778:5778"
      - "6831:6831/udp"
      - "6832:6832/udp"
      - "9411:9411"

  #- if .Kafka
  #kafka:
  #  image: redpandadata/redpanda:v23.2.12
  #  container_name: kafka
  #  ports:
  #    - "9092:9092"
  #- end 

  #- if .Redis}}
  #redis:
  #  image: redis:7.2.3
  #  container_name: redis
  #  ports:
  #    - "6379:6379"
  #- end }}

  svc:
    image: {{ .ProjectName }}:dev
    container_name: svc
    depends_on:
      {{- if $pg }}
      - postgres
      {{- end }}
      - consul
      #- if .Kafka }}
      #- kafka
      #- end }}
      - jaeger
    ports:
      {{- range $_, $t := .Applications.GetRestTransport }}
      - "{{ $t.Handler.Port }}:{{ $t.Handler.Port }}"
      {{- end }}
      {{- range $_, $h := .Applications.GetGrpcTransport }}
      - "{{ $h.Port }}:{{ $h.Port }}"
      {{- end }}
    environment:
      {{ .ProjectName | ToUpper }}_DEVELOPER_LOGGER_ENCODER: true
      {{- if eq $pg true }}
      {{ .ProjectName | ToUpper }}_DB_HOST: postgres
      {{ .ProjectName | ToUpper }}_DB_NAME: app_db
      {{ .ProjectName | ToUpper }}_DB_PASSWORD: mysecretpassword
      {{ .ProjectName | ToUpper }}_DB_PORT: 5432
      {{ .ProjectName | ToUpper }}_DB_USER: postgres
      {{- end }}
      {{- if eq $rest true }}
      {{ .ProjectName | ToUpper }}_HTTP_API_PORT: {{ .Ports.Rest }}
      {{ .ProjectName | ToUpper }}_HTTP_API_HOST: svc
      {{- end }}
      {{- if eq $grpc true }}
      {{ .ProjectName | ToUpper }}_GRPC_SERVER_PORT: {{ .Ports.Grpc }}
      {{ .ProjectName | ToUpper }}_GRPC_SERVER_HOST: svc
      {{- end }}
      #- if .Kafka }}
      #{{ .ProjectName | ToUpper }}_KAFKA_BROKERS: kafka:9092
      #{{ .ProjectName | ToUpper }}_KAFKA_VERSION: 3.2.0
      #- end }}
      #- if .Redis }}
      #{{ .ProjectName | ToUpper }}_REDIS_HOST: redis
      #{{ .ProjectName | ToUpper }}_PORT: 6379
      #{{ .ProjectName | ToUpper }}_REDIS_ENABLE_TRACING: true
      #- end }}
      {{ .ProjectName | ToUpper }}_LOG_LEVEL: debug
      {{ .ProjectName | ToUpper }}_TRACING_COLLECTOR_URI: jaeger:4317
      {{ .ProjectName | ToUpper }}_HEALTHCHECK_INTERVAL: 1s

{{- if eq $pg true}}
volumes:
  postgres_data:
{{- end }}
