package telegrambot

import (
	"context"

	"{{ .ProjectPath }}/pkg/drivers/telegram"
)

func (w *Worker) Authorization(ctx context.Context, requestData telegram.RequestData) error {
	srv, err := w.GetEmptySrv()
	if err != nil {
		return err
	}

	return srv.TgBotAuthorization(ctx, requestData.Command, requestData.ChatType(), requestData.Actor.ID)
}
