package {{ .Transport.Name }}

import (
	"context"
	
	oas "{{ .Transport.GetTargetGeneratePath .ProjectPath }}"
)

type DefaultOgenMiddlewares struct{}

func (dwm *DefaultOgenMiddlewares) GetOgenMiddlewares(_ context.Context) []oas.Middleware {
	return []oas.Middleware{}
}
