package {{ .Transport.Name }}

import (
	"context"
	"net/http"

	"github.com/go-faster/errors"
	"github.com/prometheus/client_golang/prometheus"
	"github.com/rs/cors"
	"github.com/go-faster/jx"
	"go.opentelemetry.io/otel/attribute"

	"{{ .ProjectPath }}/internal/app/constant"
	"{{ .ProjectPath }}/internal/app/transport/rest/{{ .Transport.Name }}/{{ .Transport.ApiVersion }}/handler"
	"github.com/Educentr/go-project-starter-runtime/pkg/ds"
	"github.com/Educentr/go-project-starter-runtime/pkg/app/rest"
	"github.com/Educentr/go-project-starter-runtime/pkg/app/rest/mw"
	"{{ .ProjectPath }}/pkg/app/restconfig"
	oas "{{ .Transport.GetTargetGeneratePath .ProjectPath }}"
)

// API exists all methods that can help you up your http server for business logic
type API struct {
	mw.DefaultMiddlewares
	OgenErrorHandler
	DefaultOgenMiddlewares
{{ if eq "on" ( index .TransportParams "auth_handler" ) }}
	DefaultOgenSecurityHandler
{{ end }}
}

func (a *API) GetErrorHandler() rest.RestErrorHandler {
	return &a.OgenErrorHandler
}

func (a *API) InitRouters(ctx context.Context, httpSrv *http.Server, srv ds.IService, _ *prometheus.Registry) error {
	// Configure middleware providers
	ocProvider := restconfig.NewOnlineConfConfigProvider(constant.ServiceName)
	a.HandlerTimeoutProvider = ocProvider
	a.SecurityConfigProvider = ocProvider
	a.HitInfoContextCreatorFunc = ocProvider.NewHitInfoContextCreator
	a.TransportConfigPath = ocProvider.TransportConfigPath

	oasHandler := &handler.Handler{}

	err := oasHandler.InitHandler(ctx, srv)
	if err != nil {
		return errors.Wrap(err, "Handler initialization error")
	}

	{{ if eq "on" ( index .TransportParams "auth_handler" ) }}
	securityHandler, err := a.NewSecurityHandler(ctx)
	if err != nil {
		return errors.Wrap(err, "security handler initialization")
	}
	{{ end }}
	// TODO	oas.WithTracerProvider(m.TracerProvider()),
	oasServer, err := oas.NewServer(
		oasHandler,
		{{ if eq "on" (index .TransportParams "auth_handler") }}securityHandler,{{ end }}
		oas.WithErrorHandler(a.UnexpectedError),
		oas.WithNotFound(a.NotFoundError),
		oas.WithMiddleware(a.GetOgenMiddlewares(ctx)...),
		oas.WithAttributes(
			attribute.String("server_name", "{{ .Transport.Name }}"),
			attribute.String("service_name", constant.ServiceName),
		),
	)
	if err != nil {
		return errors.Wrap(err, "server initialization")
	}

	errTimeout := oas.ErrorDefault{
		Code:  http.StatusInternalServerError,
		Error: "timeout",
	}

	e := jx.GetEncoder()
	errTimeout.Encode(e)

	httpSrv.Handler = cors.New(ocProvider.GetCORSOptions(ctx)).Handler(oasServer)

	return nil
}
