package {{ .Transport.Name }}
{{ if eq "on" ( index .TransportParams "auth_handler" ) }}

import (
    "context"

    oas "{{ .Transport.GetTargetGeneratePath .ProjectPath }}"
)

type DefaultOgenSecurityHandler struct{}

func (dosh *DefaultOgenSecurityHandler) NewSecurityHandler(ctx context.Context) (oas.SecurityHandler, error) {
    return &DefaultOgenSecurityHandler{}, nil
}

func (dosh *DefaultOgenSecurityHandler) HandleAuthHeader(ctx context.Context, operationName string, t oas.AuthHeader) (context.Context, error) {
    return ctx, nil
}

{{ end }}
