[Unit]
Description={{ .ProjectName }} {{ .Application.Name }} service
After=network.target

[Service]
Type=simple
User={{ .ProjectName }}
ExecStart={{ .Artifacts.Packaging.InstallDir }}/{{ .Application.Name }}
Restart=always
RestartSec=5
Environment="ONLINECONF_DIR={{ .Artifacts.Packaging.ConfigDir }}/{{ .Application.Name }}"

[Install]
WantedBy=multi-user.target
