package telegram

import (
	"context"
	"errors"

	tgbotapi "github.com/OvyFlash/telegram-bot-api"
	"github.com/gofrs/uuid/v5"
)

type UnimplementedAdminStatusHandler struct{}

func (UnimplementedAdminStatusHandler) GetUserState(ctx context.Context, userID int64) (string, error) {
	return "", nil
}

func (UnimplementedAdminStatusHandler) SetLastMsgToUser(ctx context.Context, tgID int64, msg int) error {
	return nil
}

func (UnimplementedAdminStatusHandler) ScheduleHideMessage(ctx context.Context, tgID, chatID int64, msgID int, hidden HiddenParam) error {
	return errors.New("unimplemented")
}

func (UnimplementedAdminStatusHandler) GetHiddenMessages(ctx context.Context) ([]HiddenMessage, error) {
	return nil, errors.New("unimplemented")
}

func (UnimplementedAdminStatusHandler) DoneHiddenMessages(ctx context.Context, hm HiddenMessage) error {
	return errors.New("unimplemented")
}

func (UnimplementedAdminStatusHandler) GetLastMsgToUser(ctx context.Context, tgID int64) (int, error) {
	return 0, nil
}

func (UnimplementedAdminStatusHandler) NewUserState(ctx context.Context, tgID int64, state string) error {
	return errors.New("unimplemented")
}

type UnimplementedUpdateHandler struct{}

func (UnimplementedUpdateHandler) PreCheckout(ctx context.Context, preCheckoutQuery *tgbotapi.PreCheckoutQuery) (context.Context, error) {
	return ctx, ErrUnimplementedHandler
}

func (UnimplementedUpdateHandler) Purchase(ctx context.Context, TgID int64, successfulPayment *tgbotapi.SuccessfulPayment) (context.Context, error) {
	return ctx, ErrUnimplementedHandler
}

func (UnimplementedUpdateHandler) TextMessage(ctx context.Context, message *tgbotapi.Message) (context.Context, error) {
	return ctx, ErrUnimplementedHandler
}


func (UnimplementedUpdateHandler)  CallbackQuery(ctx context.Context, callbackQuery *tgbotapi.CallbackQuery) (context.Context, error) {
	return ctx, ErrUnimplementedHandler
}

var (
	ErrUnimplementedHandler = errors.New("unimplemented handler")
	ErrUnsupportedHandler = errors.New("unsupported handler")    
)

type ParamI interface {
	Pack() string
	Unpack(ctx context.Context, params string) error
}

type ResponseRedirect struct {
	Cmd CommandName
	Params string
}

type Response struct {
	InternalRedirect *ResponseRedirect
	Messages      []Message
	NextState     *string
	UpdateCurMsg  bool
	NotifyMsg     string
	DeleteLastMsg bool
	DeleteCurMsg  bool
}


type DefaultHandler struct{}

func (DefaultHandler) HandleBack(ctx context.Context) (Response, error) {
	emptyState := ""
	return Response{
		NextState:    &emptyState,
		DeleteCurMsg: true,
	}, nil
}

func (DefaultHandler) PreCheckout(ctx context.Context, preCheckoutQuery *tgbotapi.PreCheckoutQuery) (context.Context, string) {
	return ctx, "unimplemented"
}

func (DefaultHandler) ProcessPayment(ctx context.Context, idempotency uuid.UUID, successfulPayment *tgbotapi.SuccessfulPayment) (Response, error) {
	return Response{}, errors.New("unimplemented")
}

func (DefaultHandler) Authorization(ctx context.Context, requestData RequestData, pp string) (context.Context, error) {
	return ctx, nil
}
