package serviceauth

import (
	"{{ .ProjectPath }}/pkg/app"
	"{{ .ProjectPath }}/pkg/app/ds"
)

type Authorizer struct {
	app.UnimplementedAuthorizer
}

func (a *Authorizer) GetAuthorizer() ds.Authorizer {
	return a
}
